* {
    -fx-primary-red: #F23022;
    -fx-secondary-red: #FF4A3C;
    -fx-primary-blue: #003366;
    -fx-secondary-blude: #1A4D80;
    -fx-primary-background: #C7C7C7;
    -fx-secondary-background: #E1E1E1;
}
